* {
    main-bg:            #282828e6;
    main-fg:            #ebdbb2ff;
    main-br:            #79740eff;
    main-ex:            #f5e0dcff;
    select-bg:          #b8bb26ff;
    select-fg:          #32302fff;
    separatorcolor:     transparent;
    border-color:       transparent;
}
